# Ignore windows files
Thumbs.db
# Ignore eclipse project files
.classpath
.project
.pmd
.settings/
# Ignore binary files
*.class
/bin/
# Ignore maven folders
/target
# Ignore our logs
logs/*.txt
# Ignore the settings and high scores and achievements
settings.yml
highScores.yml
achievements.yml
/target/
